# 2. Gaussian Kernel

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.style.use('ggplot')

In [2]:
# Importing Excel file, calling the DataFrame comp_df
df = pd.read_csv('Final5', header=0, index_col=0)
df = df.iloc[1:, :]
# Checking import 
df.head(5)

,X2,X3,X4,X5_Bins,X6_BI,X7_BI,X8_BI,X9_BI,X10_BI,X11_BI,...,X22_BI,X23_BI,X1,X12_ABS,X13_ABS,X14_ABS,X15_ABS,X16_ABS,X17_ABS,Y
2,2,2,2,0,0,1,0,0,0,1,...,0,1,-0.271418,0.116536,-0.233725,-0.216424,-0.139167,-0.067265,-0.007117,1
3,2,2,2,1,0,0,0,0,0,0,...,1,1,-0.895980,0.423406,0.476861,0.528327,0.227939,0.296254,0.345181,0
4,2,2,1,1,0,0,0,0,0,0,...,1,1,-0.895980,-0.482617,-0.597292,0.313576,0.054974,0.059507,0.098518,0
5,1,2,1,2,0,0,0,0,0,0,...,1,1,-0.895980,0.655807,0.598303,0.641960,0.013707,0.072582,0.122760,0
6,1,1,2,1,0,0,0,0,0,0,...,1,1,1.550666,2.491521,2.675594,2.833575,0.004727,0.030574,0.041317,0

In [3]:
# print data(feature)shape
df.shape

(29998, 36)

In [4]:
X = df.iloc[:,:-1] # Features
y = df.Y # Target variable

In [5]:
from sklearn.model_selection import train_test_split

# split data using train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.25, random_state=2019)

In [ ]:
from sklearn.svm import SVC  
svclassifier = SVC(kernel='rbf')  #Kernel=rbf, non-linearly separable data
svclassifier.fit(X_train, y_train)

In [ ]:
y_pred = svclassifier.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix  
print(confusion_matrix(y_test, y_pred))  
print(classification_report(y_test, y_pred))

In [ ]:
# import the metrics class
from sklearn import metrics

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
# Import `mean_absolute_error` from `sklearn.metrics`
from sklearn.metrics import mean_absolute_error
#calculate MAE
MAE=mean_absolute_error(y_test, y_pred)
print(MAE)